<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinozg.applet.biz.protocol.mapper.ProtocolConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, protocol_id, port, mode, auth_port, ip, client_id, user_name, password, subscribe, websocket, websocket_url, beat_time, beat_data, parser_type, other_config, remark, updated_by, updated_time, created_by, created_time
    </sql>

</mapper>
