<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinozg.applet.biz.task.mapper.TaskManagerMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_transaction_id, task_name, execute_time, execute_status, execute_parameters, device_id, device_name, function_id, function_name, tenant_id, remark, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="pageInfo" resultType="cn.sinozg.applet.biz.task.vo.response.TaskManagerPageResponse" parameterType="cn.sinozg.applet.biz.task.vo.request.TaskManagerPageRequest">
        select <include refid="Base_Column_List"/>
            from t_set_task_manager where device_id = #{p.deviceId,jdbcType=VARCHAR}
        <where>
            <if test="p.beginTime != null and p.beginTime != ''">
                and created_time &gt;= STR_TO_DATE(concat(#{p.beginTime,jdbcType=VARCHAR}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="p.endTime != null and p.endTime != ''">
                and created_time &lt;= STR_TO_DATE(concat(#{p.endTime,jdbcType=VARCHAR}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        order by created_time desc
    </select>

    <update id="callbackStatus" parameterType="cn.sinozg.applet.biz.task.entity.TaskManager">
        update t_set_task_manager set execute_status = #{p.executeStatus,jdbcType=VARCHAR} where task_transaction_id = #{p.taskTransactionId,jdbcType=VARCHAR}
    </update>
</mapper>
