<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinozg.applet.biz.product.mapper.ProdInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prod_key, name, img_id, classify_id, protocol_id, type_id, type_name, attribute_json, function_json, event_json, tenant_id, remark, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="pageInfo" resultType="cn.sinozg.applet.biz.product.entity.ProdInfo" parameterType="cn.sinozg.applet.biz.product.vo.request.ProdInfoPageRequest">
        select <include refid="Base_Column_List"/>
            from t_set_prod_info
        <where>
            <if test="p.uid != null and p.uid != ''">
                and created_by = #{p.uid,jdbcType=VARCHAR}
            </if>
            <if test="p.beginTime != null and p.beginTime != ''">
                and created_time &gt;= STR_TO_DATE(concat(#{p.beginTime,jdbcType=VARCHAR}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="p.endTime != null and p.endTime != ''">
                and created_time &lt;= STR_TO_DATE(concat(#{p.endTime,jdbcType=VARCHAR}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        order by created_time desc
    </select>

    <select id="selectProdList" resultType="cn.sinozg.applet.biz.product.vo.response.ProdListResponse">
        select id, prod_key code, name from t_set_prod_info
        <where>
            <if test="name != null and name != ''">
                and created_by = #{name,jdbcType=VARCHAR}
            </if>
        </where>
        order by name
    </select>
</mapper>
