<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinozg.applet.biz.system.mapper.CorpInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, corp_name, liaison, phone_num, email, address, data_status, remark, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="corpList" resultType="cn.sinozg.applet.common.core.model.DictDataVo">
        select tenant_id dictValue, corp_name dictLabel , 'TENANT' dictType from sys_corp_info where data_status = '01' order by tenant_id
    </select>
</mapper>
