<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sinozg.applet.biz.system.mapper.DeptInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_name, pater_id, director, phone_num, email, tenant_id, remark, updated_by, updated_time, created_by, created_time
    </sql>

    <select id="listByPaterId" parameterType="java.lang.String" resultType="cn.sinozg.applet.common.core.model.TreeSelect">
        WITH RECURSIVE cd AS (
            SELECT di.id, di.dept_name, di.pater_id from sys_dept_info di where di.pater_id = #{paterId,jdbcType=VARCHAR}
            UNION ALL
            SELECT sdi.id, sdi.dept_name, sdi.pater_id from sys_dept_info sdi, cd where sdi.pater_id = cd.id
        )
        SELECT cd.id id, cd.dept_name label, (select count(1) from sys_user_info u where u.dept_id = cd.id) checked, cd.pater_id parId FROM cd
    </select>

    <select id="deptDetail" resultType="cn.sinozg.applet.biz.system.vo.response.DeptInfoDetailResponse" parameterType="java.lang.String" >
        select d.id, d.dept_name, d.pater_id, d.director, d.phone_num, d.email, d.remark,
               u.nick_name director_name
               from sys_dept_info d left join sys_user_info u on u.id = d.director
        where d.id = #{id,jdbcType=VARCHAR}
    </select>

    <sql id="pageInfo">
        select d.id, d.dept_name, u.nick_name director_name, d.created_time,
        (select count(1) from sys_dept_info di where di.pater_id = d.id) has_children
        from sys_dept_info d
        left join sys_user_info u on u.id = d.director
        where d.pater_id = #{p.paterId,jdbcType=VARCHAR}
        <if test="p.deptName != null and p.deptName != ''">
            and d.dept_name LIKE CONCAT('%',#{p.deptName},'%')
        </if>
        <if test="p.beginTime != null and p.beginTime != ''">
            and d.created_time &gt;= STR_TO_DATE(concat(#{p.beginTime,jdbcType=VARCHAR}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="p.endTime != null and p.endTime != ''">
            and d.created_time &lt;= STR_TO_DATE(concat(#{p.endTime,jdbcType=VARCHAR}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        order by d.created_time
    </sql>

    <select id="deptPage" resultType="cn.sinozg.applet.biz.system.vo.response.DeptInfoPageResponse" parameterType="cn.sinozg.applet.biz.system.vo.request.DeptInfoPageRequest">
        <include refid="pageInfo"/>
    </select>

    <select id="pageSub" resultType="cn.sinozg.applet.biz.system.vo.response.DeptInfoPageResponse" parameterType="cn.sinozg.applet.biz.system.vo.request.DeptInfoPageRequest">
        <include refid="pageInfo"/>
    </select>
</mapper>
